# exclui os dados de placas da UFPR, que são muito grandes para transferir ao GitHub
/reconhecimento_placa_veicular/.venv/
/reconhecimento_placa_veicular/.vscode/
/reconhecimento_placa_veicular/data/
/reconhecimento_placa_veicular/keyboard-shortcuts-linux.pdf
